* {
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.calculadora{
    background-color: #ededed;
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}

#sr {
    padding: 0px 18px 18px 18px;
}

#sr button {
    width: 100%;
    background-color: #48c;
    color: #fff;
    border: none;
}

.teclas {
    display: flex;
}

.pantalla{
    padding: 18px 18px 0px 18px;
}

.numeros {
    padding: 18px 9px 18px 18px;
}

.op {
    padding: 18px 18px 18px 9px;
}

#resultado {
    background-color: #666;
    color: #eee;
    padding: 9px;
}

.op button {
    display: block;
    width: 54px;
    height: 54px;
    padding: 9px 15px;
    background-color: #000;
    color: #fff;
    border: none;
}


.numeros div{
    text-align: center;
}

.numeros button {
    border: 0px;
    background-color: #fff;
    transition: all 0.09s;
}

.numeros button:hover {
    box-shadow: 0px 0px 12px #aaa;
}

button {
    margin: 2px 0px;
    padding: 15px 24px;
    font-size: 19px;
}